<form action="/todo/update/<%= @todo.id %>">
    
<input name="task_name" type="text" placeholder="Enter Task Name" value="<%= @todo.task_name %>">
<input name="due_date" type="text" placeholder="Enter Due-Date" value="<%= @todo.due_date %>">
<input class="button"type="submit" value="Save">
</form>
  