<form action="/todo/create">
    
<input name="task_name" type="text" placeholder="Enter Task Name">
<input name="due_date" type="text" placeholder="Enter Due-Date">
<input class="button"type="submit" value="Add To-Do">
</form>
  