 <h2>
 <%= @todo.task_name %>
 </h2>
        
        <a href="/todo/edit/<%= @todo.id %>">Edit</a>
        <a href="#">Delete</a>
        <a href="/todo/index">Go back...</a>
        
      
            
            