 <h2>
 <%= @todo.task_name %>
 </h2>
        
        <a href="#">Edit</a>
        <a href="#">Delete</a>
        <a href="/todo/index">Go back...</a>
        
        <input type="checkbox">
        <input type="date" button="Calender">
        <input type="time" button="clock">
        
            
      
            
            